@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
header{
    width:100vw;
    height:100px;
    background-color:rgb(193, 248, 220);
    border-bottom:solid 1px rgb(55, 0, 128);
    box-shadow:0.5px 0.5px 0.5px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

h1{
    margin:0 0 0 20px;
    font-family: 'Pacifico', cursive;
    color:mediumaquamarine;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}